<% if @courses.empty? %>
  <p>Nenhum curso disponível</p>
<% end %>

<% @courses.each do |course| %>
  <h1><%= link_to course.name, course_path(course) %></h1>
  <p><%= course.description %></p>
  <p><%= number_to_currency course.price %></p>
<% end %>

<%= button_to 'Voltar', root_path, method: :get %>