<h1>Meus cursos</h1>
<% @enrollments.each do |enrollment| %>
  <%= enrollment.course.name %>
  <%= link_to 'Ver aulas', course_lessons_path(enrollment.course) %>
  Comprado em <%= enrollment.created_at %> por <%= number_to_currency enrollment.price %>

<%end %>